@model LibraryManager.BusinessLogic.Models.Book.BookModel

<head>
    <meta charset="utf-8">
    <title>DeleteBook</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="~/css/deletestyle.css">
</head>
<body>
    <div class="mainwrapper">
        <div class="header">
            <div class="clearfix white-line">
                <div class="resize">
                    <div id="butthome" onclick="location.href = '/';">
                        <h1 id="home">Book&Brain</h1>
                    </div>
                    <div id="login">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <p id="log">
                                <a asp-action="login" asp-controller="auth">Реєстрація &#8226; Вхід</a>
                            </p>
                        }
                        else
                        {
                            <p id="log">
                                @Html.ActionLink("Вийти", "Logout", "Auth")
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix block_row">
            <div class="clearfix block_column">
                <div class="resize">
                    <div class="fields">
                        <h2>Delete Book</h2>
                        <h3>Чи підтверджуєте ви видалення цієї книги?</h3>
                        <div>
                            <dl class="row">
                                @Html.HiddenFor(model => model.Id)
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Subject)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subject)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Grade)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Grade)
                                </dd>
                            </dl>

                            <form asp-action="Delete" method="post">
                                <input type="submit" value="Видалити" class="btn btn-danger specialbtn" id="butt1" />
                            </form>
                            @using (Html.BeginForm("List", "Book", FormMethod.Get))
                            {
                            <input type="submit" class="btn btn-success specialbtn" id="butt2" value="На головну" name="MainPage" />
                            }
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix secwhite-line">
            <div class="resize">
                <div class="footer">
                    <div class="paragr">
                        <p>
                            Книга – це мрія, яку ви тримаєте у руках...
                        </p>
                    </div>
                    <div class="phones">
                        <p id="name">Інтернет магазин</p>
                        <p id="phone">+38(097) 545-23-56</p>
                        <p id="phone">+38(068) 211-47-12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/create.js"></script>
</body>


